@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black !important;
}

header {
height: 100px;
  background-color: black !important;
}

nav {
  background-color: black;
}



.primero {
  background-color: black
  ;
}

.buscador {
  margin-top: 120px;
}